<div class="container page-container-rs-landing">
  <div class="container-preferences">
    <div class="card-quiz">
      <div class="card-quiz-info">
        <h2> <%= current_user.first_name.capitalize %>, help us get to know you better!</h2>
        <p>Take our quiz to help us understand what you like. We want our recommendations to be better tailored to your personal preferences, so answer as many questions as possible! Pressing 'Next' after you answer each question will save your response. Pressing 'Exit Quiz' will exit the quiz, let you view all the questions you answered, and edit your responses. </p>
        <% if !@question.nil? %>
          <%= link_to "Begin Quiz", question_path(@question), class: "btn surprise-green-btn-small mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
