
<div class="quiz-container d-flex justify-content-center align-items-center">
  <div class="quiz-container-inner d-block justify-content-center align-items-center">
    <div><h1><%= @question.content %></h1></div>
    <div>
      <!-- form for submitting answers -->
      <%= simple_form_for [@question, @answer], html: {class: 'quiz-form'} do |f| %>
      <%= f.input :choice, as: :radio_buttons, collection: @question.options, input_html: { class: 'form-input' } %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
