// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$surprise-pink: #FF69B2;
$surprise-green: #29EFC6;
$surprise-pink-secondary: rgba(252, 227, 227, 0.4);
$surprise-green-secondary: #22cfac;
$surprise-beige: #EDAD85;
$surprise-font: #404A4F;
$surprise-font-secondary: #AFACAC;


$color-border: #eee;
$color-label: #aaa;
$white: #fff;
