<div class="container">
  <h1>Hello <%= @recipient.username.capitalize %>,</h1>

  <p>
    <%= @user.username.capitalize %> has selected a gift for you on SurpriseMe!
    Get ready to receive it within 2 days from this mail.
  </p>
  <p>Hope you like the gift!</p>
  <p>From SurpriseMe! team</p>
</div>
