.page-container-friend-profile{
  padding: 70px 0 130px 0;
}
// card-user

.card-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

// card-user-profile //

.card-user-add {
  font-size: 30px;
  padding: 60px 16px 0px 16px;
}

.add-friend-icon {
  text-align: center;
}

#friend-added-text{
  font-family: $body-font;
  color: $surprise-pink;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.8;
}

.fa-user-friends {
  color: $surprise-pink;
  opacity: 0.5;
}

.fa-user-plus {
  color: $surprise-pink;
  opacity: 0.5;
}

.fa-user-plus:hover {
  opacity: 1;
}

.card-user-profile-info {
  width: 100%;
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 60px;
  font-family: $headers-font;
}

.card-user-info {
  height: auto;
  font-family: $body-font;
  color: $surprise-font;
}

.card-user-profile-info img {
  height: 100%;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px;
}

.card-user-profile-info h1 {
  padding-left: 8px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#profile-text {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  height: 100%;
  text-align: justify;
}

.card-user-profile-info .card-user-info {
  padding: 16px;
}


// card-user-product //
.simple_form {
  width: 100%;
  background-color: white;
}
.card-user-product {
  width: 100%;
}

.card-user-product p {
  width: 100%;
  background-color: white;
  color: $surprise-font;
  text-align: left;
  font-size: 24px;
  font-family: $headers-font;
  margin-left: 85px;
  margin-top: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 50px;
  background-color: white;
}

input[id ^= "occasion"] {
  display:none;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: grayscale(1);
  font-family: $headers-font;
  cursor: pointer;
}

.card-category:hover {
  filter: grayscale(0);
}

input[id ^="occasion"]:checked + label .card-category{
  filter: grayscale(0);
  box-shadow: 0 0 15px 4px rgba($surprise-pink, 0.8);
}

// card-user-budget //
.card-user-budget {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 20px;
  margin-top: 30px;
  text-align: center;
  background-color: white;
  font-family: $body-font;
  color: $surprise-pink;
  font-size: 14px;
  font-weight: bold;
}

.budget-submit {
  width: 70%;

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: $surprise-pink;
  width: 100%;
  margin: 0 16px;
  height: 10px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  text-align: center;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $surprise-pink;
  cursor: pointer;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
