// View sent request modal
.sent-request{
  margin: 0.2rem 0.2rem;
  padding: 0.5rem 0.2rem;
  display:flex;
  height:65px;
  justify-content: space-between;
  align-items: center;
}

.sent-request-side{
  display: flex;
  justify-content: center;
  align-items: center;

}

.sent-request-name{
  margin-left: 1rem;
}

.sent-cancel-request{
  margin-right: 1.5rem;
}

//
.friend-request-container{
  margin:0.5rem 0;
}

.friend-request-rect{
  background-color: rgb(201, 198, 198);
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-request-photo{
  width: 130px;
  height:100px;
  background-color: rgb(105, 104, 104);
}

.friend-request-photo > img {
  width: 100%;

}

.friend-request-content{
  padding: 0 0.8rem;
  display:flex;
  justify-content: space-between;
  width:100%;
}

.accept-grp{
  width: 100px;
}
