.background-wrapper {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dncp2x5qh/image/upload/v1632643774/pexels-tima-miroshnichenko-6463605_ctlci8.jpg");
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  position: relative;
}

.video-wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));

  .home_video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .video-overlay{
    width: 600px;
    height: 100px;
    padding: 0 10px;
    background-color: rgba($surprise-pink, 0.4);
    border-radius: 5px;
    position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;

    h3 {
      font-family: $headers-font;
      text-align: center;
      vertical-align: middle;
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  .video-overlay:hover{
    background-color: rgba(255,255,255,0.8);
    color: $surprise-font;
  }
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;

  h3 {
    margin-top: 15%;
    padding-top: 40px;
    font-family: $headers-font;
  }

  a {
    font-family: $body-font;
    color: white;
  }
}


#desc {
  width: 100%;
  font-size: 15px;
  color: white;
}

.desc-item {
  margin: 0 40px;
  padding: 10px;
  width: 300px;
  height: 150px;
  background-color: rgba($surprise-pink, 0.4);
  border-radius: 5px;

  p {
    text-align: justify;
  }
}

.btn-flat.home {
  padding: 8px 24px;
  width: 340px;
  border-radius: 4px;
  background: none;
  background-color: Transparent;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin-top: 64px;
  color: white;
}

.btn-flat.home:hover {
  background-color: rgba($surprise-pink, 0.4);
  border-color: rgba($surprise-pink, 0.2);
  color:$white;
}

a#back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fa-arrow-circle-up {
  font-size: 40px;
  color: white;
}

#learn-more{
  margin-top: 150px;
}
