.quiz-container{
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.quiz-container-inner{
  width: 1000px;
  height: 30vh;
  padding: 20px;
  background-color: $surprise-pink-secondary;
}

.quiz-form {
  background-color: $surprise-pink-secondary;
}

.form-input {
  float: none;
  padding: 0;
}
