.quiz-container{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.quiz-container-inner{
  width: 700px;
  height: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: $surprise-pink-secondary;
}

.quiz-header {
  position: absolute;
    top: 200px;
    left: 80px;
}

.quiz-form {
  border-radius: 5px;
}

.simple_form.quiz-form {
  text-align: left;
  background-color: transparent;
}

.simple_form.quiz-form label {
  float: none;
  padding: 0;
  font-family: $body-font;
}

.simple_form input.is-valid ~ .form-check-label {
  color: black;
}

#quiz-exit{
  position:absolute;
    bottom: 100px;
    right: 290px;
}