// .container-preferences {
//   padding: 16px;
// }
// <--- Surprise pink button custom for response set --->
.btn-edit-response {
  width: fit-content;
}


// <--- Preferences Card if all questions are answered --->
.card-preferences {
  overflow: hidden;
  height: 100px;
  background: rgba(252, 227, 227, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  padding-right: 30px;
  border-radius: 5px;
}

.card-preferences h2 {
  font-size: 24px;
  font-family: $headers-font;
  margin: 0;
}

.card-preferences p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #f53d96;
}

.card-preferences .card-preferences-info {
  padding: 16px;
}

// <--- Quiz Card if user has not taken quiz --->

.card-quiz {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card-quiz h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: $surprise-font;
}

.card-quiz p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 20px;
  color: $surprise-font;
  text-align: center;
}

.card-quiz .card-quiz-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 500px;
}

// ---- misc. page ----- //

.card-preferences-edit {
  width: 200px;
  text-align: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.response-set-header-container {
  margin: 30px 0;
}

.page-container-rs{
  margin-bottom: 80px;
}

.page-container-rs{
  margin-bottom: 80px;
}
