<div class="friends">
  <h1>Hello user</h1>
  <%# <--- Search bar ---> %>
    <%= simple_form_for :friends_list, url: "#", method: :get do |f| %>
      <div class="search-form-control mt-3 ">
        <input class="form-control required round-searchbar" type="text" name="query" id="query" placeholder="Find a Friend "/>
        <button name="button" type="submit" class="button-none" >
          <i class="fas fa-search search-icon search-icon-landing"></i>
        </button>
      </div>
    <% end %>
</div>

<%# <--- Search result ---> %>
<% @users.each do |user| %>
<div class="outside-card-product">
  <div class="d-flex justify-content-between">
      <div class="card-product">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <div class="card-product-infos">
          <h2><%= user.username %></h2>
        </div>
      </div>
  </div>
    <%# <--- to use for adding friend ---> %>
      <%# <div class="card-product-actions">
        <a href="#">Add friend <i class="fas fa-user-plus"></i></a>
      </div> %>

    <%# <--- already friends ---> %>
    <div class="card-product-actions">
      <%= link_to "Send a gift", friend_path(user), class:"pr-1" %><i class="fas fa-gift"></i>
      <%# <a href="#">Send a gift <i class="fas fa-gift"></i></a> %>
      <a href="#">Remove friend <i class="far fa-trash-alt"></i></a>
    </div>
</div>
<% end %>
