<div class="container page-container-rs-landing">
  <div class="container-preferences">
    <div class="response-set-header-container">
      <h2>Questions that you have answered</h2>
    </div>
    <div class="response-set-container">
      <% @response_sets.each do |response| %>
        <div class="card-preferences">
          <div class="card-preferences-info">
            <h2><%= response.question.content %></h2>
          </div>
          <div class="card-preferences-edit">
            <h2><%= response.answer.choice %></h2>
            <%= link_to "Edit response", edit_response_set_path(@response_sets), class: "btn surprise-pink-btn-small" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
