<div class="container">
  <div class="card-user">
    <div class="card-user-profile-info">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-user-info">
        <h1><%= @friend.username.capitalize() %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Elit sed vulputate mi sit amet mauris. Semper risus in hendrerit gravida.</p>
      </div>
      <% link_to%>


      <div class="card-user-add">

        <%= link_to friendships_path(recipient_id: params[:id] ), method: :post do %>
          <i class="fas fa-user-plus"></i>
        <% end %>

      </div>
    </div>
    <div class="card-user-product">
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Gift 1
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
         Gift 2
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          Gift 3
        </div>
      </div>
    </div>
    <div class="card-user-budget">
      <label for="customRange1" class="form-label">Budget</label>
      <input type="range" class="form-range" id="customRange1">
      <br>

    <% if @friend_list %>
        <%= link_to "Send a gift", gift_sessions_path(recipient_id: params[:id] ), method: :post, class: "btn btn-ghost" %>
    <% end %>

    </div>
    <%# <a class="" href="#">Write a story</a> %>
  </div>
</div>
