<div class="background">
  <%= image_tag "https://res.cloudinary.com/dncp2x5qh/image/upload/v1632643774/pexels-tima-miroshnichenko-6463605_ctlci8.jpg" , class:"image-tag" %>
  <div class="tagline">
    <p>We help you buy gifts that people actually want</p>
    <a href="#">Learn More! <i class="fas fa-caret-down"></i></a>
  </div>
</div>
