<div class="min-vh-100" id="back-to-top">
  <div class="video-wrapper">
    <%= video_tag "https://res.cloudinary.com/deqrylboj/video/upload/v1633022284/SurpriseMe-Landing-Video_sc6ttl.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <div class="video-overlay">
      <h3>We help you buy gifts that people actually want</h3>
      <a href="#learn-more" data-controller="scroll-to" >Learn More! <i class="fas fa-caret-down"></i></a>
    </div>
  </div>
 </div>

  <div class="background-wrapper min-vh-100">
    <div class="container" id="learn-more">
      <div class="d-flex w-100 align-item-center" id="desc">
        <div class="desc-item">
          <h4>Proprietary Technology</h4>
          <p>Our technology was researched and developed in-house using Ruby on Rails. Let our algorithm do its magic behind the scenes to help you find the perfect gift for your friend!</p>
        </div>

        <div class="desc-item">
          <h4>Protects your privacy</h4>
          <p>We block our gifters from seeing your address details and help them send you a gift. Sleep with a peace of mind and hopefully wake up the next day to a lovely surprise!</p>
        </div>

        <div class="desc-item">
          <h4>Make your money’s worth</h4>
          <p>With our app, you will no longer be a disappointing gifter - we will make sure that your friends will like the gift that you gift them as it will be tagged to their personal preferences. No more returning gifts!</p>
        </div>
      </div>
        <% if user_signed_in? %>
          <%= link_to "Let's Get Started", friendships_path, class:"btn btn-flat home mx-auto mt-8" %>
        <% else %>
          <%= link_to "Let's Get Started", new_user_session_path, class:"btn btn-flat home mx-auto mt-8" %>
        <% end %>
    </div>
  </div>

<a id="back-to-top" href="#back-to-top" data-controller="scroll-to" ><i class="fas fa-arrow-circle-up"></i></a>
