<div class="min-vh-100" id="back-to-top">
  <div class="video-wrapper">
    <%= video_tag "https://res.cloudinary.com/deqrylboj/video/upload/v1633022284/SurpriseMe-Landing-Video_sc6ttl.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <div class="video-overlay">
      <h3>Let us help you be the perfect gifter and impress your friends!</h3>
      <a href="#learn-more" data-controller="scroll-to" >Learn More! <i class="fas fa-caret-down"></i></a>
    </div>
  </div>
 </div>

  <div class="background-wrapper min-vh-100">
    <div class="container" id="learn-more">
      <a id="back-to-top" href="#back-to-top" data-controller="scroll-to" ><i class="fas fa-arrow-circle-up"></i></a>
      <div class="d-flex w-100 align-item-center" id="desc">
        <div class="desc-item">
          <h4>Proprietary Technology</h4>
          <p>Our technology was researched and developed in-house using Ruby on Rails. Let us get to know you better through a short quiz so that others can get you the perfect gift. Alternatively, let our algorithm work its magic behind the scenes to help you find the perfect gift for your friend!</p>
        </div>

        <div class="desc-item">
          <h4>Protects your privacy</h4>
          <p>We block our gifters from seeing your address details and your personal preferences. You could either impress people you just met with gifts tailored to them, or simply sit back and enjoy receiving gifts without the worry of revealing too much about yourself. Sleep with a peace of mind and hopefully wake up the next day to a lovely surprise!</p>
        </div>

        <div class="desc-item">
          <h4>Make your money’s worth</h4>
          <p>With SurpriseMe!, you will no longer be a disappointing gifter - be confident that your friends will love your gift to them. Gift preferences are tagged to their personal preferences, so no more worrying about your friends returning gifts!</p>
        </div>
      </div>
        <% if user_signed_in? %>
          <%= link_to "Let's Get Started", friendships_path, class:"btn btn-flat home mx-auto mt-8" %>
        <% else %>
          <%= link_to "Let's Get Started", new_user_session_path, class:"btn btn-flat home mx-auto mt-8" %>
        <% end %>
    </div>
  </div>
