<div class="background-wrapper min-vh-100" id="back-to-top">
  <div class="tagline min-vh-100">
    <h3>We help you buy gifts that people actually want</h3>
    <a href="#learn-more" data-controller="scroll-to" >Learn More! <i class="fas fa-caret-down"></i></a>
  </div>

  <div class="home-desc-wrapper min-vh-100">
    <div class="container" id="learn-more">
      <div class="d-flex w-100 align-item-center" id="desc">
        <div class="desc-item">
          <h4>Proprietary Technology</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, rerum. Nihil consectetur explicabo, nostrum quisquam similique alias quod qui at, adipisci aspernatur ipsum consequatur reprehenderit! Unde labore nam dolor reprehenderit!</p>
        </div>

        <div class="desc-item">
          <h4>Protects your privacy</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores incidunt nihil nesciunt quas itaque nemo molestias architecto sed quae voluptatum. Earum expedita quos cupiditate similique ipsa amet voluptatum perspiciatis corrupti?</p>
        </div>

        <div class="desc-item">
          <h4>Make your money’s worth</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis qui unde dolores ratione molestiae voluptatum rem eligendi saepe obcaecati placeat? Enim aut ut inventore placeat dignissimos fugit reiciendis natus expedita!</p>
        </div>
      </div>

        <%= link_to "Let's Get Started", new_user_session_path, class:"btn btn-flat home mx-auto mt-8" %>
    </div>
  </div>
</div>

<a id="back-to-top" href="#back-to-top" data-controller="scroll-to" ><i class="fas fa-arrow-circle-up"></i></a>
