<div class="min-vh-100" id="back-to-top">
  <div class="video-wrapper">
    <%= video_tag "https://res.cloudinary.com/deqrylboj/video/upload/v1633022284/SurpriseMe-Landing-Video_sc6ttl.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <a href="#learn-more" data-controller="scroll-to" >
    <div class="video-overlay">
      <h3>Learn how we can help you become the perfect gifter and impress your friends! <i class="fas fa-caret-down"></i></h3>
    </div>
    </a>
  </div>
 </div>

  <div class="background-wrapper min-vh-100">
    <div class="container" id="learn-more">
      <a id="back-to-top" href="#back-to-top" data-controller="scroll-to" ><i class="fas fa-arrow-circle-up"></i></a>
      <div class="d-flex align-item-center" id="desc">
        <div class="desc-item">
          <h4>Proprietary Technology</h4>
          <ul>
            <li>Recommendation engine researched and developed in-house</li>
            <li>Ruby on Rails framework</li>
          <ul>
        </div>
        <div class="desc-item">
          <h4>Make your money’s worth</h4>
          <ul>
            <li>Gifts suggestions are tagged to your recipient's preferences </li>
            <li>No more worrying about failed gifts</li>
          </ul>
        </div>
        <div class="desc-item">
          <h4>Protects your privacy</h4>
          <ul>
            <li>Your address is protected from gifters</li>
            <li>Your preferences are hidden</li>
          </ul>
        </div>
    </div>

        <% if user_signed_in? %>
          <%= link_to "Let's Get Started", friendships_path, class:"btn btn-flat home mx-auto mt-8" %>
        <% else %>
          <%= link_to "Let's Get Started", new_user_session_path, class:"btn btn-flat home mx-auto mt-8" %>
        <% end %>
  </div>
