// <--- friends list search bar --->
.button-none{
  border :0px;
  background-color :transparent;
}

// <--- Take quiz at user preference --->
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

// <--- send gift at user profile --->
.btn-flat {
  color: white;
  padding: 8px 4rem;
  border-radius: 5px;
  background: $surprise-green;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $surprise-green-secondary;
  color: white;
}

.surprise-pink-btn{
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0;
  background-color: $surprise-pink;
}

.surprise-green-btn{
  color: #fff;
  width:100%;
  background-color: $surprise-green;
}

.surprise-pink-btn:hover{
  color:white;
  background-color: rgb(231, 44, 112);
}

.btn-border-none{
  border: none;
  background-color: transparent;
}

.btn-rate{
  background: $surprise-green;
  width: 35%;
  padding: 2rem 3rem;
  text-align: center;
  color:white;
}

.btn-rate:hover{
  text-decoration: none;
  color:$surprise-pink;
}
