// <--- friends list search bar --->
.button-none{
  border :0px;
  background-color :transparent;
}

// <--- send gift at user profile --->
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

// surprise-green btn

// surprise-pink btn
.surprise-pink-btn{
  color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem 0;
  background-color: $surprise-pink;
}

.surprise-pink-btn:hover{
  color:white;
  background-color: rgb(231, 44, 112);
}

.btn-border-none{
  border: none;
  background-color: transparent;
}
