.gift-cart-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  z-index: 10;
}

.cart-items {
  max-width: 70%;

  .product {
    background-color: rgba($surprise-font-secondary, 0.8);
    border-radius: 16px;
    padding: 32px 24px;
    margin-bottom: 16px;
    color: $surprise-font;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.remove-product {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  background-color: $surprise-pink;
  border: none;
}

.totals {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $surprise-green;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  bottom: -168px;
  right: -72px;
  z-index: -1;
}

h3 {
  text-align: center;
}

.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

.totals-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  label {
    flex: 0 0 50%;
  }
}
