.outside-card-product{
  margin: 0px 20px 16px 20px;
  padding-top: 16px;
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + .outside-card-product {
    border-top: 1px solid rgba(64, 74, 79, 0.2);
  }
}

.card-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-container{
  width: 150px;
}

.photo-container > img {
  width: 70%;
  margin-left: 30px;
}

.card-product-infos{
  padding: 16px;
  margin-left: 1rem;
  font-family: $headers-font;

}

.card-product-infos > a {
  color: #000;
}

.fa-birthday-cake {
  color: $surprise-pink;
}
// friend card display name
.friend-card-name {
  font-size: 1.2rem;
  color: #000;
}

.friend-card-name:hover{
  color: rgb(72, 13, 13);
  text-decoration: none;
}
// remove friend and send gift btn
.friend-card-btns{
  margin: 0 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.outside-card-product .card-product-actions {
  margin: 0 0.8rem;
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.outside-card-product:hover .card-product-actions {
  opacity: 1;
}

.outside-card-product .card-product-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 1rem;
}

.outside-card-product .card-product-actions a:hover {
  color: #3b3939;
  text-decoration: none;
}
