.sign-up-container{
  margin-top: 5rem;
  width:50%;
  padding: 3rem 3rem;
  border-radius: 10px;
  background-color: white;
}

.input-styling {
  border-radius: 10px !important;
}

.sign-up-form{
  margin:1rem 0;
}

.sign-in-text{
  color:rgb(162, 30, 30);
  margin-left: 1rem;
}

.sign-in-text:hover {
  text-decoration: none;
}
