.gift-container > h2{
  margin:2rem 0;
}

.card-gift {
  overflow: hidden;
  height: 200px;
  background-color: rgba(238, 238, 238,0.4);
  border-radius: 10px;
  display: flex;
  align-items: top;
  margin-bottom: 2rem;
  display:flex;
  justify-content: center;
  align-items:center;
}

.cart-img-container{
  width: 250px;
}

.cart-img-container > img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.card-gift h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-gift-content{
  width:100%;
  padding:2rem;
  display: flex;
  justify-content: center;
  align-items:center;
}

.card-gift h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 30px;
}

.card-gift p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  /* overflow: hidden; */
  /* display: block; */
  /* text-overflow: ellipsis; */
  /* word-wrap: break-word; */
  overflow: hidden;
  max-height: 3.6em;
}

.card-gift .card-gift-infos {
  padding: 16px;
  width: 70%;
}

.card-gift-price {
  display: flex;
  justify-content: space-between;
}

.gift-checkout {
  text-align: center;
  margin: 35px;
}
