.gift-container{
  max-width: 960px;
  margin: 0 auto;
}

.gift-container > h2{
  margin:2rem 0;
}

.gift-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 10px;

  .rounded-circle {
    width: 20%;
    height: 20%;
  }
}


.card-gift {
  overflow: hidden;
  height: 200px;
  background-color: rgba(238, 238, 238,0.4);
  border-radius: 10px;
  display: flex;
  margin-bottom: 2rem;
}

.cart-img-container{
  width: 280px;
  height:100%;
}

.cart-img-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-gift-content{
  width:100%;
  display: flex;
  padding: 0 1rem;
}

.scroll {
  overflow: auto;
  height: 100%;
}

.card-gift-content-wide{
  margin:1.2rem 0.8rem;
  width: 70%;
}

.card-gift-content-wide h2{
  font-size:1.3rem;
}

.card-gift-content-wide > p{
  font-size: 0.8rem;
}

.cart-gift-details{
  display: flex;
  align-items:center;
}

.card-gift-quantity{

  display: flex;
  flex-direction: column;
  padding:0 1.3rem;
  justify-content: center;
  align-items: center;
}

.quantity-btn{
  border-radius: 50%;
  border: none;
  background: $surprise-pink;
  width:1.8rem;
  height:1.8rem;
}

.card-gift-price{
  width: 25%;
  padding:0 1.4rem;
  display: flex;
  justify-content: space-between;
}

// .card-gift h4 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   padding: 30px;
//   color:white;
// }

// .card-gift p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
  /* overflow: hidden; */
  /* display: block; */
  /* text-overflow: ellipsis; */
  /* word-wrap: break-word; */
//   overflow: hidden;
//   max-height: 3.6em;
// }

.card-gift .card-gift-infos {
  padding: 16px;
  width: 70%;
}

.checkout-gift{
  margin:2rem 0 2rem auto;
  width: 20rem;
  display: flex;
  justify-content: right;
}

// gift received card
.card-gift-content-rate{
  width: 25%;
  display:flex;
  flex:1;
  align-items:center;
  justify-content: center;
}

.card-gift-r-quantity{
  display:flex;
  flex:1;
  justify-content: center;
  align-items:center;
  width: 20%;
}
