.image-tag {
  position: relative;
  width: 100%;
  filter: brightness(80%);
}

.tagline {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 550px;
  left: 450px;
  color:white;
}

.tagline a {
  color: white;
}

.desc-1 {
  width: 300px;
  font-size: 15px;
  color: white;
}

.desc-2 {
  width: 300px;
  font-size: 15px;
  color: white;
}

.desc-3 {
  width: 300px;
  font-size: 15px;
  color: white;
}

.btn-flat.home {
  padding: 8px 24px;
  width: 340px;
  border-radius: 4px;
  background: none;
  background-color: Transparent;
  border: 2px solid white;

  a {
    color: white;
  }
}

.fa-arrow-circle-up {
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: -1160px;
  right: 40px;
}
