.navbar-lewagon {
  justify-content: space-between;
  background: #DEA5A4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  top: -2px;
  left: 20px;
  width: 60px;
}

// remove ul bullet //
.list-style-none{
  list-style-type: none;
}
