.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  top: 12px;
  left: 20px;
  width: 120px;
}

// remove ul bullet //
.list-style-none{
  list-style-type: none;
}

.nav-link {
  color: $surprise-pink !important;
}
// navbar searchbar
.nav-searchbar{
  position:relative;
  margin:0 30px 0 150px;
  border-bottom: 1px solid $surprise-pink;
  padding: 1px 1px;
  width: 400px;
}

.rounded-input-field{
  border: none;
  margin: 0.2rem 0.4rem;
}

.rounded-input-field{
  width: 80%;
}

.rounded-input-field:focus{
  outline:none;
}

::placeholder {
  font-style: italic;
  color: $surprise-pink;
  font-family: $body-font;
  font-size: 14px;
}

//search icon
.icon-pink{
  font-size: 1rem;
  position: absolute;
  top:10px;
  right: 10px;
  color: $surprise-pink;
}

// navbar height
.navbar-height{
  height: 80px;
}

//navbar item
.nav-item-wrap{
  margin-right: 0.8rem;
  text-align:center;
  padding: 0.8rem 0.8rem;
}

.nav-item-wrap:hover{
  background-color: rgba(252, 227, 227, 0.6);
  border-radius: 5px;
  cursor: pointer;
}

.nav-icon{
  font-size: 1rem;
  color: $surprise-pink;
}

.nav-li{
  margin-right: 1rem;
}

//-----------------------//

.u-hover--sparkle {

  position: relative;
  padding: 0.75em;
  &::before,
  &::after {
    content: '';
    text-decoration: underline;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-bottom: 0.1em solid $surprise-pink;
    transform: scale3d(0,1,1);
  }

  &::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover::before,
  &:hover::after {
    transform: scale(1);
    transition: transform 900ms;
  }
}

.u-hover--sparkle-white {


  position: relative;
  padding: 0.75em;
  &::before,
  &::after {
    content: '';
    text-decoration: underline;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-bottom: 0.1em solid #fff;
    transform: scale3d(0,1,1);
  }

  &::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover::before,
  &:hover::after {
    transform: scale(1);
    transition: transform 900ms;
  }
}

.cust-nav-link{
  display: block;
  color: $surprise-pink;
  font-family: $body-font;
  font-size: 14px;
  // font-weight: bold;
}

.cust-nav-link:hover {
  color: $surprise-pink;
  text-decoration: none;
}

// <-------- navbar landing ---------------> //
.navbar-landing {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.background{
  position: absolute;
  top: 0;
}

.navbar-landing .navbar-brand img {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 160px;
}

.nav-link-white{
  color:white;
}

.nav-link-white:hover{
  color:white;
  text-decoration: none;
}


// <--------media-query ---------------> //



// <------- medium screen -------------> //
@media only screen and (max-width: 768px) {
  //hide search bar
  .nav-searchbar{
    display: none;
  }

}
