// card-user

.card-user {
  display: flex;
  flex-direction: column;
  height: 100%;
}

// card-user-profile //


.card-user-add {
  font-size: 40px;
  padding: 60px 16px 0px 16px;
}

.fa-user-plus {
  color: #DEA5A4;
  opacity: 0.5;
}

.fa-user-plus:hover {
  opacity: 1;
}

.card-user-profile-info {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 30px;
}

.card-user-info {
  height: auto;
}

.card-user-profile-info img {
  height: 100%;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px;
}

.card-user-profile-info h1 {
  padding-left: 8px;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-user-profile-info p {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  height: 100%;
}

.card-user-profile-info .card-user-info {
  padding: 16px;
}


// card-user-product //

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 30px;
  background-color: white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
