<div class="container gift-container min-vh-100">

  <h2>Gifts that I have received</h2>

  <% if current_user.received_gifts.blank? %>
    <p>You have not received any gifts yet</p>
  <% else %>
    <% current_user.received_gifts.each do |gift| %>
      <div class="card-gift">
        <div class="cart-img-container">

          <% if gift.image_url.nil? %>
            <% image_tag "https://source.unsplash.com/random" %>
          <% else %>
            <% image_tag gift.image_url %>
            <% raise %>
          <% end %>
        </div>

        <div class="card-gift-content">
          <div class="card-gift-content-wide">
            <h2><%= gift.name %></h2>
            <% desc = gift.description %>
            <p><%= desc.gsub(/\[|\"|\]/,"") %></p>
          </div>

          <div class="card-gift-r-quantity">
            <p>Qty : 1</p>
          </div>

          <div class="card-gift-content-rate">
            <%= link_to 'Rate',"#",class:"btn-rate"%>
          </div>
        </div>

      </div>

    <% end %>
  <% end %>

</div>
