<div class="container gift-container">

  <h2>Gifts that I have received</h2>

  <% if @received_gifts.blank? %>
    <p>You have not received any gifts yet</p>
  <% else %>
    <% @received_gifts.each do |gift| %>
      <div class="card-gift ">
        <div class="cart-img-container">
          <%= image_tag(gift.image_url) %>
        </div>
        <div class="card-gift-content">
          <div class="card-gift-content-wide">
            <h2><%= gift.name %></h2>
            <p><%= gift.description %><p>
          </div>

          <div class="card-gift-r-quantity">
            <p>Qty : 1</p>
          </div>

        <div class="card-gift-content-rate">
          <%= link_to 'Rate',new_product_rating_path(gift),class:"btn-rate"%>
        </div>

      </div>
    <% end %>
  <% end %>

</div>
